/* Fondo Blanco */
.white-background {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  overflow: hidden;
}

/* Figura Azul sobrepuesta */
.blue-rectangle {
  position: absolute; /* Superpuesta sobre todo */
  top: 0;
  left: 0;
  width: 100vw; /* Ocupará todo el ancho de la pantalla */
  height: 100vh; /* Ocupará todo el alto de la pantalla */
  background-color: #050254;
  clip-path: path('M0,900S443.32,850.5,690.44,820.94s331.771-20.292,393.336-200.967S1234.737,1.579,1234.737,1.579H0Z');

  z-index: 999; /* Muy alto para que esté sobre todo */
  transition: all 0.3s ease;
}

/* Sección Izquierda */
.left-section {
  position: relative;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 1;
}

/* Logo y Textos Sobrepuestos sobre figura azul */
.logo-container {
  display: flex;
  align-items: center; /* Para alinear el logo y el texto verticalmente */
  gap: 15px; /* Espacio entre el logo y el texto */
  z-index: 1000;
  color: white;
  margin-left: 12vw; /* 1/8 del ancho de la pantalla */
  margin-top: 7.14vh;  /* 1/14 del alto de la pantalla */
}

.logo-container img.logo {
  width: 90px; /* Ajuste del tamaño del logo */
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-container h3 {
  font-size: 1.5rem; /* Tamaño del texto "Tienda de Libros Unimayor" */
  margin: 0;
  font-weight: normal;
}

.text-container h2 {
  font-size: 2.5rem; /* Tamaño del texto "Iniciar Sesión" */
  margin: 0;
}

/* Imagen Sobrepuesta sobre figura azul */
.image-container {
  position: relative;
  margin-left: 12vw; 
  margin-top: 20px; /* Un margen para separar de los textos */
  z-index: 1000;
}

.library-image {
  width: 100%;
  max-width: 700px; 
  border-radius: 80px;
}

/* Sección Derecha */
.right-section {
  flex-grow: 1; /* Ocupará el espacio disponible */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 1; /* Detrás de la figura azul */
  overflow: hidden;
}

/* Contenedor del Formulario */
.form-container {
  position: relative;
  width: 70%;
  margin-top: -4vw;
  margin-right: 3vw;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1000; /* El formulario estará visible sobre la figura azul */
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input {
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  margin: 10px 0;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;  /* Asegura que el padding y el borde no hagan que el input se desborde */
  color: #050254;  /* Establece el color predeterminado del texto */
  transition: color 0.3s ease;  /* Añadido para una transición suave al cambiar el color */
}

/* Estilo para el placeholder */
.form-container input::placeholder {
  color: #05025480;  /* Color cuando no se ha escrito nada (50% de opacidad) */
}

.form-container button {
  width: auto; /* Ajusta el ancho automáticamente al contenido del texto */
  padding: 12px 20px; /* Aumenta el padding lateral para más espacio alrededor del texto */
  font-size: 1rem;
  background-color: #050254;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.form-container button:hover {
  background-color: #04006b;
}

.form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: bold;
}

.form-links-signup {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-weight: bold;
}

.form-links a {
  color: #050254;
  text-decoration: none;
}

.form-links a:hover {
  color: #04006b;
  text-decoration: underline;
}

/* Responsividad */
@media screen and (max-width: 1024px) {
  .blue-rectangle {
    clip-path: path('M0,900.526S400.32,843.5,650.44,803.94s300.771-20.292,350.336-200.967S1200.737,10.579,1200.737,10.579H0Z');
  }

  .logo-container img.logo {
    width: 60px;
  }

  .text-container h3 {
    font-size: 1.2rem;
  }

  .text-container h2 {
    font-size: 2rem;
  }

  .library-image {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .white-background {
    flex-direction: column;
    align-items: center;
  }

  .blue-rectangle {
    width: 100%;
    height: 50vh;
    clip-path: path('M0,50vh S40vw,45vh,70vw,40vh s33vw,-5vw,39vw,-10vh S100vw,0vh,100vw,0vhH0Z');
  }

  .left-section {
    width: 100%;
    height: 50vh;
  }

  .right-section {
    width: 100%;
    height: auto;
  }

  .logo-container {
    top: 5%;
    left: 5%;
  }

  .logo-container img.logo {
    width: 50px;
  }

  .text-container h3 {
    font-size: 1rem;
  }

  .text-container h2 {
    font-size: 1.8rem;
  }

  .form-container {
    width: 90%;
    padding: 20px;
  }

  .form-container input {
    font-size: 1rem;
  }

  .form-container button {
    font-size: 1rem;
  }

  .library-image {
    max-width: 300px;
  }
}

/* Estilo para el botón de retroceso */
.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 2rem; /* Cambiado a rem para adaptabilidad */
  cursor: pointer;
  position: absolute;
  top: 1vw; /* Cambiado a rem */
  left: 1vw; /* Cambiado a rem */
  display: flex;
  align-items: center;
  padding: 1rem 2rem; /* Cambiado a rem */
  transition: opacity 0.3s ease;
  z-index: 1000;
}

/* Efecto al pasar el cursor sobre el botón */
.back-button:hover {
  opacity: 0.8;
}

/* Efecto cuando el botón está enfocado */
.back-button:focus {
  outline: none;
  border: 2px solid #050254;
}

.back-text {
  font-size: 1.5rem; /* Cambiado a rem */
  margin-left: 0.5rem; /* Cambiado a rem */
}

.error-message {
  color: red;
  font-size: 0.875rem; /* Cambiado a rem */
  text-align: center;
  margin-top: 0.5rem; /* Cambiado a rem */
}