.welcome-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  position: relative;
}

.white-background {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Figura azul como fondo SVG */
.welcomeblue-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 75vw;
  height: 95vh;
  background: url('../Public/assets/FiguraAzul.svg') no-repeat center center; /* Ruta al SVG */
  background-size: cover; /* Escala el SVG proporcionalmente al contenedor */
  z-index: 1; /* Detrás de los textos y botones */
}

.carousel-container {
  position: absolute;
  top: 20vh; 
  right: 15vw;
  transform: translateX(-33%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw; 
  height: 25vh; 
  overflow: visible; 
  z-index: 1100;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 36vw; /* Ancho responsivo */
  height: auto; /* Calcula la altura automáticamente según la proporción */
  aspect-ratio: 16 / 11; /* Define la proporción */
  object-fit: cover; /* Escala la imagen para cubrir todo el área */
  border-radius: clamp(5px, 3vw, 60px); /* Dinámico: mínimo 5px, máximo 30px */
  transition: opacity 1s ease, transform 1s ease;
  z-index: 0;
  background-color: #fff; /* Fondo de respaldo */
}



.carousel-image.front {
  z-index: 10; 
  opacity: 1;
  filter: blur(0);
  transform: scale(1.0); 
}

.carousel-image.middle {
  z-index: 5;  
  opacity: 0.8;
  filter: blur(3px); 
  transform: scale(1) translate(3vh, 1.5vh); 
}

.carousel-image.back {
  z-index: 0;  
  opacity: 0.5;
  filter: blur(5px); 
  transform: scale(1) translate(6vh, 3vh); 
}

.auth-buttons {
  position: absolute;
  top: 8vh;
  right: 10vw;
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 10;
}

.auth-btn {
  background-color: #050254;
  border: none;
  color: #FFFFFF;
  font-size: 2vh;
  padding: 1.5vh 2.5vh;
  border-radius: 25px;
  cursor: pointer;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

.auth-btn:hover {
  background-color: #06005E;
}

.auth-btn:focus {
  outline: none;
}

.welcomelogo {
  width: 5%;
  margin-left: 15%;
  margin-bottom: 0px;
  margin-top: 10%;
}

.welcometext-1 {
  font-size: clamp(12px, 2vw, 24px); 
  color: #FFFFFF;
  margin-left: 15%;
  font-weight: normal;
  margin-bottom: 0%;
}

.welcometext-2 {
  font-size: clamp(24px, 4vw, 52px); 
  color: #FFFFFF;
  margin-left: 15%;
  font-weight: bold;
  max-width: 40%;
  word-break: break-word;
  margin-bottom: 0%;
}

.welcometext-3 {
  font-size: clamp(11px, 1.5vw, 18px); 
  color: #FFFFFF;
  margin-left: 15%;
  font-weight: lighter;
  margin-bottom: 2%;
  max-width: 40%;
  word-break: break-word;
}

.explore-btn {
  font-size: 2.2vh;
  width: 15vh;
  height: 5vh;
  background-color: #FFFFFF;
  border-radius: 50px;
  border: none;
  color: #050254;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 1%;
  cursor: pointer;
}


/* Media query para pantallas en orientación vertical */
@media (orientation: portrait) {
  .welcome-container {
    flex-direction: column; /* Cambia a columna para mejor uso del espacio */
    justify-content: center;
    align-items: center;
    height: auto; /* Permite que el contenido crezca verticalmente */
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .white-background {
    height: auto; /* Ajusta el fondo para que se adapte al contenido */
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .welcomeblue-rectangle {
    width: 120vw; /* Ocupa todo el ancho de la pantalla */
    height: 80vh; /* Ocupa la mitad superior de la pantalla */
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .carousel-container {
    display: none; /* Elimina completamente el carrusel de la vista */
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .auth-buttons {
    top: auto; /* Posición automática según el flujo del contenido */
    margin-top: 2vh; /* Añade espacio con otros elementos */
    right: auto;
    justify-content: center; /* Centra los botones horizontalmente */
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .auth-btn {
    font-size: 1.8vh; /* Ajusta el tamaño del texto */
    width: 17vh; /* Botón más ancho para pantallas verticales */
    height: 5vh; /* Botón más alto */
    margin: 6vh auto; /* Centra el botón */
    background-color: #FFFFFF; /* Cambia el fondo a blanco */
    color: #050254; /* Cambia el texto a azul */
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .auth-btn:hover {
    background-color: #F0F0F0; /* Cambia ligeramente el color al pasar el mouse */
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .auth-btn:focus {
    outline: none;
  }

  .welcomelogo {
    width: 16%; /* Ajusta el tamaño del logo */
    margin: 35vw auto 8vw ; /* Centra el logo con margen automático */
    margin-left: 40vw;
    display: block; /* Asegura que el logo se renderice como un bloque centrado */
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .welcometext-1{
    font-size: clamp(12px, 4.5vw, 24px); /* Ajusta el tamaño de las fuentes */
    text-align: left; /* Centra el texto */
    margin: 1.2vh 8vw; /* Añade mayor distancia vertical entre los textos */
    max-width: 70%; /* Limita el ancho del texto */
    line-height: 1.8; /* Añade espacio entre las líneas */
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .welcometext-2{
    font-size: clamp(12px, 7.5vw, 32px); /* Ajusta el tamaño de las fuentes */
    text-align: left; /* Centra el texto */
    margin: 1.2vh 8vw; /* Añade mayor distancia vertical entre los textos */
    max-width: 70%; /* Limita el ancho del texto */
    line-height: 1.2; /* Añade espacio entre las líneas */
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .welcometext-3{
    font-size: clamp(12px, 4vw, 16px); /* Ajusta el tamaño de las fuentes */
    text-align: left; /* Centra el texto */
    margin: 2vh 8vw; /* Añade mayor distancia vertical entre los textos */
    max-width: 70%; /* Limita el ancho del texto */
    line-height: 1.8; /* Añade espacio entre las líneas */
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .explore-btn {
    font-size: 2.2vh; /* Ajusta el tamaño del texto */
    width: 16vh; /* Botón más ancho para pantallas verticales */
    height: 5vh; /* Botón más alto */
    margin: 6vh 8vw; /* Centra el botón */
    background-color: #FFFFFF; /* Cambia el fondo a blanco */
    color: #050254; /* Cambia el texto a azul */
    border-radius: 50px;
    transition: all 0.5s ease; /* Transición para el cambio de diseño */
  }

  .explore-btn:hover {
    background-color: #F0F0F0; /* Color ligeramente diferente al pasar el mouse */
  }
}

