.welcome-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  position: relative;
}

.white-background {
  position: relative;
  height: 100vh;
  width: 100%;
}

.carousel-container {
  position: absolute;
  top: 20%; 
  right: 45vh;
  transform: translateX(-33%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vh; 
  height: 25vh; 
  overflow: visible; 
  z-index: 1100;
}

/* Figura Azul sobrepuesta */
.welcomeblue-rectangle {
  position: absolute; /* Superpuesta sobre todo */
  top: 0;
  left: 0;
  width: 100vw; /* Ocupará todo el ancho de la pantalla */
  height: 100vh; /* Ocupará todo el alto de la pantalla */
  background-color: #050254;
  clip-path: path('M0,900S443.32,850.5,690.44,820.94s331.771-20.292,393.336-200.967S1234.737,1.579,1234.737,1.579H0Z');



  z-index: 999; /* Muy alto para que esté sobre todo */
  transform: scale(1); /* Inicialmente a tamaño completo */
  transform-origin: top left; /* Mantén el origen en la esquina superior izquierda */
  transition: transform 0.3s ease; /* Transición suave */
  scale: 100%;
}

.carousel-image {
  position: absolute; 
  top: 0;
  left: 0;
  width: 82vh;
  height: 55vh;
  object-fit: cover;
  border-radius: 60px;
  transition: opacity 1s ease, transform 1s ease;
  z-index: 0;
}

.carousel-image.front {
  z-index: 10; 
  opacity: 1;
  filter: blur(0);
  transform: scale(1.0); 
}

.carousel-image.middle {
  z-index: 5;  
  opacity: 0.8;
  filter: blur(3px); 
  transform: scale(1) translate(40px, 30px); 
}

.carousel-image.back {
  z-index: 0;  
  opacity: 0.5;
  filter: blur(5px); 
  transform: scale(1) translate(60px, 60px); 
}

.auth-buttons {
  position: absolute;
  top: 10%;
  right: 12%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 10;
}

.auth-btn {
  background-color: #050254;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

.auth-btn:hover {
  background-color: #06005E;
}

.auth-btn:focus {
  outline: none;
}

.welcomelogo {
  width: 5%;
  margin-left: 15%;
  margin-bottom: 0px;
  margin-top: 10%;
}

.welcometext-1 {
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 15%;
  font-weight: normal;
  margin-bottom: 0%; 
}

.welcometext-2 {
  font-size: 52px;
  color: #FFFFFF;
  margin-left: 15%;
  font-weight: bold;
  max-width: 40%;
  word-break: break-word;
  margin-bottom: 0%; 
}

.welcometext-3 {
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 15%;
  font-weight: lighter;
  margin-bottom: 2%;  
}


.explore-btn {
  width: 9%;
  height: 45px;
  background-color: #FFFFFF;
  border-radius: 23px;
  border: none;
  color: #050254;
  font-size: 21px;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 1%;
  cursor: pointer;
}


@media (max-width: 1880px) {
  .carousel-image {
    width: 76vh;
    height: 52vh;
  }

  .carousel-container {
    top: 20%; 
    right: 18%;
  }

  .auth-buttons {
    top: 10%;
    right: 10%;
    scale: 99%;
  }

  /* Figura Azul sobrepuesta */
  .welcomeblue-rectangle {
    transform: translateX(-2vh); /* Mover 2vh a la izquierda */
  }

  .welcomelogo {
    width: 4.5%;
    margin-left: 15%;
    margin-top: 10%;
  }
}

@media (max-width: 1737px) {
  .carousel-image {
    width: 72vh;
    height: 48vh;
  }

  .carousel-container {
    top: 20%; 
    right: 30vh;
  }

  .auth-buttons {
    top: 10%;
    right: 10%;
    scale: 98%;
  }
}

@media (max-width: 1685px) {
  .carousel-image {
    width: 68vh;
    height: 46vh;
  }

  .carousel-container {
    top: 20%; 
    right: 22vh;
  }

  .auth-buttons {
    top: 10%;
    right: 8%;
  }
}

@media (max-width: 1652px) {
  .carousel-image {
    width: 68vh;
    height: 46vh;
  }

  .carousel-container {
    top: 20%; 
    right: 22vh;
  }

  .auth-buttons {
    top: 10%;
    right: 8%;
  }
}

@media (max-width: 1646px) {
  carousel-image {
    width: 65vh;
    height: 48vh;
  }

  .carousel-container {
    top: 20%; 
    right: 10%;
  }

  .auth-buttons {
    top: 10%;
    right: 6%;
    scale: 99%;
  }

  /* Figura Azul sobrepuesta */
  .welcomeblue-rectangle {
    transform: translateX(-2vh); /* Mover 2vh a la izquierda */
  }

  .welcomelogo {
    width: 4.5%;
    margin-left: 15%;
    margin-top: 10%;
  }
}

@media (max-width: 1600px) {
  .carousel-image {
    width: 62vh;
    height: 45vh;
  }

  .carousel-container {
    top: 20%;
    right: 8%;
  }

  .auth-buttons {
    top: 10%;
    right: 5%;
    scale: 97%;
  }

  /* Figura Azul sobrepuesta */
  .welcomeblue-rectangle {
    transform: translateX(-5vh); /* Mover 2vh a la izquierda */
  }

  .welcomelogo {
    width: 4.3%;
    margin-left: 15%;
    margin-top: 10%;
  }
}

@media (max-width: 1550px) {
  .carousel-image {
    width: 60vh;
    height: 43vh;
  }

  .carousel-container {
    top: 20%;
    right: 7%;
  }

  .auth-buttons {
    top: 10%;
    right: 5%;
    scale: 96%;
  }

  /* Figura Azul sobrepuesta */
  .welcomeblue-rectangle {
    transform: translateX(-12vh); /* Mover 2vh a la izquierda */
  }

  .welcomelogo {
    width: 4.2%;
    margin-left: 15%;
    margin-top: 10%;
  }
}

@media (max-width: 1500px) {
  .carousel-image {
    width: 58vh;
    height: 42vh;
  }

  .carousel-container {
    top: 20%;
    right: 6%;
  }

  .auth-buttons {
    top: 10%;
    right: 4%;
    scale: 95%;
  }

  /* Figura Azul sobrepuesta */
  .welcomeblue-rectangle {
    transform: translateX(-12vh); /* Mover 2vh a la izquierda */
  }

  .welcomelogo {
    width: 4.0%;
    margin-left: 15%;
    margin-top: 10%;
  }
}

@media (max-width: 1450px) {
  .carousel-image {
    width: 55vh;
    height: 40vh;
  }

  .carousel-container {
    top: 20%;
    right: 5%;
  }

  .auth-buttons {
    top: 10%;
    right: 3%;
    scale: 94%;
  }

  /* Figura Azul sobrepuesta */
  .welcomeblue-rectangle {
    transform: translateX(-12vh); /* Mover 2vh a la izquierda */
  }

  .welcomelogo {
    width: 3.8%;
    margin-left: 15%;
    margin-top: 10%;
  }
}

@media (max-width: 1400px) {
  .carousel-image {
    width: 52vh;
    height: 38vh;
  }

  .carousel-container {
    top: 20%;
    right: 4%;
  }

  .auth-buttons {
    top: 10%;
    right: 2%;

  }

  /* Figura Azul sobrepuesta */
  .welcomeblue-rectangle {
    transform: translateX(-12vh); /* Mover 2vh a la izquierda */
  }

  .welcomelogo {
    width: 3.6%;
    margin-left: 15%;
    margin-top: 10%;
  }
}
